body{
  font-size:15rem;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  text-align:center;
  background:#333f44;
  color:mintCream;
}
h1{
  font-weight:300;
}
.header{
  font-size:90%;
}
.headerThree{
  margin-bottom:2%;
  font-size:40%;
}
.certificate p{
  font-size:5%;
}
.certificate{
  padding-top:10%;
  top:50%;
  border-top:1px solid slateGray;
  margin: 0 auto;
  width:100%;
  height:500px;
  display:flex;
margin-bottom:5%;
}
.projects{
  border-top:1px solid slateGray;
  margin: 0 auto;
  width:100%;
}
.prj{
  width:100%;
  height:auto;
  font-size:10%;
  block;
  border:solid black 1px;
}
.title{
  font-size:10%;
 display:inline;
  width:200px;
  height:auto;
  float:left;
  padding:5px;
}
.thumbnail{
  width: 75%;
  height: 75%;
    margin:auto;
}
.gallery{
  width:720px;
  height:405px;
}