html{
  height: 100%;
}
body{
  font-size:15rem;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  text-align:center;
  background:Cornsilk;
  
  height:100%;
}
h1{
  font-weight:300;
}
.header{
  font-size:90%;
}
.headerThree{
  margin-bottom:2%;
  font-size:40%;
}
.col-md-4 h2{
  border-bottom:1px solid slateGray;
  font-weight:300;
}
.col-md-4 p{
  font-size:10%;
}
.col-md-4{
  color:mintCream;
    top:0;
    bottom:0;
  background:#060d13;
padding-bottom:100%;
  height:100%;
  float:left;
  
}
li{
  display: inline;
  text-decoration: none;
}
.prj{
  color:slateGray;
  width:100%;
  height:auto;
  font-size:10%;
  border:solid white 1px;
  margin-bottom:7px;
  border-radius:25px;
  background:LightBlue;
  padding-bottom:5px;
}
.prj:hover{
  background:LightSteelBlue;
}
a{
  color:mintCream;
  text-decoration:none;
}
.prj a{
  color:slateGray;
  text-decoration:none;
}
.title{
  font-size:10%;
 display:block;
  float:left;
  margin-bottom:10px;
}
.thumbnail{
  width: 25%;
  height: 25%;
    margin:auto;
}
.gallery{
  width:720px;
  height:405px;
}